##########################
# KEDRO PROJECT

# ignore all local configuration
conf/local/**
!conf/local/.gitkeep
.telemetry

# ignore potentially sensitive credentials files
conf/**/*credentials*

# =========================
# DATA MANAGEMENT (KEDRO)
# =========================

# ignore all data by default
data/**

# keep directory structure
!data/**/

# keep .gitkeep files
!.gitkeep

# 🔓 ALLOW TRAINED MODELS ONLY
!data/06_models/
!data/06_models/**

# =========================
# MODELS DIRECTORY (CUSTOM)
# =========================
!models/
!models/**

# =========================
# Kedro Viz
# =========================
.viz

# =========================
# Logs
# =========================
*.log

##########################
# Common files

# IntelliJ
.idea/
*.iml
out/
.idea_modules/

### macOS
*.DS_Store
.AppleDouble
.LSOverride
.Trashes

# Vim
*~
.*.swo
.*.swp

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc

# JIRA plugin
atlassian-ide-plugin.xml

# C extensions
*.so

### Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter
.ipynb_checkpoints

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Virtual environments
venv/
venv*/
.env

# mypy
.mypy_cache/

# mlflow local runs
mlruns/*
